@model MentalHealthTracker.Web.Models.CreateEntryModel

<!DOCTYPE html>

<html>
<head>
    <title>Mental Health Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/mental_health_tracker.css" rel="stylesheet" type="text/css" />
    <script>
        function newPlayer() {
            PlayerName = document.getElementById("playerNameTxt").value;
            document.getElementById("playerName").innerHTML = PlayerName;
            return;
        }
    </script>
</head>
<body>
    <header>
        <img src="../images/mental_health_tracker.jpg" alt="Health Tracker Image" height="150px" width="150px" style="float: left;">
        <form style="float: right;">
            <h1>Welcome <span id="playerName"></span>!</h1>
            <a class="logout" href="@Url.Action("Login", "Entry")">Log Out</a>
        </form>
        <h2>Mental Health Tracker</h2>
    </header>
    <section>
        <nav width="150px">
            <ul>
                <li><a href="@Url.Action("Index", "Entry")">View Overview of Entries</a></li>
                <li><a href="@Url.Action("Create", "Entry")">Edit Entry for Today</a></li>
                <li><a href="@Url.Action("Statistics", "Entry")">Statistics</a></li>
            </ul>
        </nav>
        <div>
            <article>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Mood)
                        </div>
                        <div class="col-md-6">
                            @Html.EnumDropDownListFor(model => model.Mood)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Journal)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Journal, new { style = "width:1000px" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Medication)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Medication, new { style = "width:500px" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="col-md-3">
                        <button class="btn btn-secondary" type="submit">Save</button>
                    </div>
                </form>
            </article>
        </div>
    </section>
    <footer>
        <p>This site brought to you by: Christina Buchwald, Alek Brown, Zachary Hayes, James Robbins, Thomas Strutt</p>
    </footer>
</body>
</html>
